::selection {

}

body {
    position: relative;
    background-color: $lightgrey;
}

section {
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 50%;
    margin: auto;
    max-width: 750px;
    min-width: 300px;
}

.container__id {
    h1, h2, h3, button {
        margin: 1.5rem 0px;
    }
}

iframe {
    border: 0px;
}

.hidden {
    opacity: 0;
}
